<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Fix table CSS. -->
    <table class="job-listing" th:each="job : ${jobs}">
        <tr>
            ID: <span th:text="${job.Id}"></span> <br>
            Name: <span th:text="${job.name}"></span> <br>
            Employer: <span th:text="${job.employer}"></span> <br>
            Location: <span th:text="${job.location}"></span> <br>
            Position Type: <span th:text="${job.positionType}"></span> <br>
            Skill: <span th:text="${job.coreCompetency}"></span>
        </tr>
    </table>

</div>

</body>
</html>